<h1>Welcome, <%= current_user.username %></h1>
<%= link_to 'Profile', current_user %>

<h1>List of Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %> Created by:
      <%= link_to creator_user(article.user_id).username,
      creator_user(article.user_id)%>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
<%= button_to "Logout", logout_path, method: :delete%>
